doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    h1 Timestamp microservice
    p Pass a unix timestamp or a date string as a url paramater.

    h3 Usage:
    code= `${name}December%2015,%202015`
    code= `${name}1450137600`
    h3 Output:
    code { "unix": 1450137600, "natural": "December 15th, 2015" }